modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "FLASK_APP=app.py flask db upgrade"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "python main.py"]

[[ports]]
localPort = 3000
externalPort = 80