modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Migrate"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Database Migration"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Migrate Init"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Reset Migrations"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 3001

[[workflows.workflow]]
name = "Flask Migrate"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "FLASK_APP=app.py flask db upgrade"

[[workflows.workflow]]
name = "Database Migration"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "alembic revision --autogenerate -m 'Add square_image_id to product' && alembic upgrade head"

[[workflows.workflow]]
name = "Flask Migrate Init"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "FLASK_APP=app.py flask db init"

[[workflows.workflow]]
name = "Reset Migrations"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf migrations && FLASK_APP=app.py flask db init && flask db migrate -m 'initial_migration' && flask db upgrade"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
